<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="com.pagantis" level="${LOG_LEVEL}"
            additivity="false">
        <appender-ref ref="STDERR" />
    </logger>
    <logger name="akka" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDERR" />
    </logger>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDERR" />
    </root>
</configuration>
